body {
  max-width: 375px;
  margin: auto;
}


header {
  background-color: #184520;
  border-bottom: 20px #2A7039 solid;
}

header img {
  width: 185px;
  padding: 15px;
  padding-right: 175px;
  border-bottom: #2A7039 dashed 2px;
}

nav p {
  font-family: 'Glory Sunshine';
  font-size: 20px;
  color: white;
  /* margin: 15px; */
  border: white solid 1px;
  border-radius: 10px;
  /* padding: 0px 35px; */
  padding-top: 10px;
  text-align: center;
  line-height: 1em;
}

.container-nav {
  display: flex;
}

main {
  border-top: #AACB62 25px solid;
  background-color: #CCAB7F;
}

main h1 {
  font-size: 20px;
  color: #184520;
  font-family: 'Glory Sunshine';
}

main h2 {
  font-size: 20px;
  color: #184520;
  font-family: 'Glory Sunshine';
}

main p {
  font-size: 14px;
  color: #184520;
  font-family: 'Coming Soon';
}

figcaption {
  font-family: 'Coming Soon';
  color: white;
  font-size: 10px;
  background-color: #184520;
  text-align: center;
  width: 296px;
  margin-top: -6px;
  padding: 10px 2px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}