body {
  max-width: 375px;
  margin: auto;
}

header {
  background-color: #184520;
  border-bottom: 20px #2A7039 solid;
}

header img {
  width: 185px;
  padding: 15px;
  padding-right: 175px;
  border-bottom: #2A7039 dashed 2px;
}

nav p {
  font-family: 'Glory Sunshine';
  font-size: 20px;
  color: white;
  /* margin: 15px; */
  border: white solid 1px;
  border-radius: 10px;
  /* padding: 0px 35px; */
  padding-top: 10px;
  text-align: center;
  line-height: 1em;
}

.container-nav {
  display: flex;
}

main {
  border-top: #AACB62 25px solid;
  background-color: #CCAB7F;
}

main h1 {
  font-size: 20px;
  color: #184520;
  font-family: 'Glory Sunshine';
  text-align: center;
  margin: auto;
}

main h2 {
  font-size: 20px;
  color: #184520;
  font-family: 'Glory Sunshine';
}

main p {
  font-size: 14px;
  color: #184520;
  font-family: 'Coming Soon';
}

figcaption {
  font-family: 'Coming Soon';
  color: white;
  font-size: 10px;
  background-color: #184520;
  text-align: center;
  width: 296px;
  margin: -6px 0px 40px;
  padding: 10px 2px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.semence-de-pays p {
  margin: 0px 40px 50px;
  text-align: center;
}

.semence-de-pays {
  border-bottom: #2A7039 solid 20px;
}

.nos-semences {
  border-top:#184520 solid 25px;
  border-bottom: #2A7039 solid 20px;
  padding: 40px 0px 40px;
  background-color: #AACB62;
}

.nos-semences p {
  text-align: center;
  margin: auto;
}

.nos-semences  a {
  color: #184520;
  text-decoration: none;
  font-family: 'Glory Sunshine';
  border: #184520 solid 2px;
  padding: 6px 75px 0px;
  border-radius: 10px;
  margin: 0px 38px; 
}

.points-de-vente {
  border-top: #184520 solid 25px;
  border-bottom: #AACB62 solid 20px;
  padding-top: 47px;
}

.points-de-vente h2 {
  margin: 0px 0px -4px;
}

.container-boutique img {
  width: 60px;
  margin-left: 38px;
}

.container-boutique p {
  text-align: center;
  margin: auto;
  padding: 0px 36px;
}

.container-boutique {
  display: flex;
  margin-bottom: 40px;
}

.texte-boutique {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 38px;
}

.texte-boutique h2 {
  align-self: center;
}

.carte-container {
  margin: 0px 38px 40px;
}

footer {
  border-top:#2A7039 solid 25px;
  background-color: #184520;
  padding-bottom: 70px;
}

footer img {
  width: 185px;
  padding: 15px;
  padding-right: 175px;
  border-bottom: #2A7039 dashed 2px;
}

footer h1 {
  font-size: 20px;
  color: white;
  font-family: 'Glory Sunshine';
  text-align: center;
  margin-top: 40px;
}

footer p {
  font-family: 'Coming Soon';
  font-size: 14px;
  text-align: center;
  color: white;
  margin: auto;
}

footer a {
  font-size: 14px;
  font-family: 'Coming Soon';
  color: white;
  margin-left: 110px;
}